* {
  font-family: serif;
  background-color: #e74545;
}

.parenst {
  display: flex; /* Permite que los elementos hijos se alineen en una fila */
  flex-direction: row;
  background-color: white;
  flex-wrap: nowrap; /* nowrap, wrap, wrap-reverse */
  border: 4px solid #000;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  justify-content: space-evenly; /* */
  align-items: center;
}

.item {
  height: 100px;
  width: 100px;
  box-sizing: content-box;
  border: solid 1px #000;
  /*  overflow: hidden;*/
}

.item:first-child {
  background-color: #d18080;
}
.item:nth-child(2) {
  background-color: #96ee24;
}
.item:last-child {
  background-color: #24eecf;
}

/*Ya visto*/

.mybigBox {
  background-color: #883f3f;
  width: 300px;
  height: 300px;
  border: solid;
  position: relative; /*Permite que los elementos hijos se posicionen en relación a este contenedor */
  margin-top: 20px; /*Espacio entre cajas*/
}

.myBox {
  background-color: #000000;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ff0000;
  box-sizing: border-box; /* content- box Establece la suma del p, w y h dentro de la caja*/
  color: blue;
  font-size: 60px;
  text-overflow: ellipsis; /*Colocara puntos suspensivos*/
  overflow: scroll; /* visible, scroll, auto y clip recomendado Permite el desplazamiento si el contenido es más grande que el contenedor */
}

.genericBtn {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin: 5px;
  color: #ffffff;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

.genericBtn:active {
  background-color: #5a7ab3;
}

.btnSave {
  background-color: #7c98cc;
}

.genericBtnC {
  background-color: #ff0000;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin: 5px;
  color: #ffffff;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

.genericBtnI:active {
  background-color: #5a7ab3;
}
.genericBtnC:active {
  background-color: #e74949;
}
